<div class="sign-up-page-layout" *transloco="let t">

  <section class="sign-up-page-layout__form-section">

    <form class="form-layout" [formGroup]="signUpForm" (submit)="createUserWithEmailAndPassword()">

      <section class="form-layout__header-section">
        <h1>{{ t('signUp.title') }}</h1>
      </section>

      <section class="form-layout__items-section">
        <div class="items-section__form-item">
          <span class="form-item__title">{{ t('signUp.form.name.title') }}</span>
          <input type="text" [formControlName]="SignUpFormEnum.Name" [placeholder]="t('signUp.form.name.placeholder')">
        </div>
        <div class="items-section__form-item">
          <span class="form-item__title">{{ t('signUp.form.email.title') }}</span>
          <input type="email" [formControlName]="SignUpFormEnum.Email" [placeholder]="t('signUp.form.email.placeholder')">
        </div>
        <div class="items-section__form-item">
          <span class="form-item__title">{{ t('signUp.form.password.title') }}</span>
          <input type="password" [formControlName]="SignUpFormEnum.Password" [placeholder]="t('signUp.form.password.placeholder')">
        </div>
      </section>

      <section class="form-layout__actions-section">
        <button type="submit" [disabled]="signUpForm.invalid">
          <span *ngIf="!isSigningUp">{{ t('buttons.createAnAccount') }}</span>
          <app-loader [type]="LoaderTypeEnum.Ellipsis" *ngIf="isSigningUp"></app-loader>
        </button>
        <div class="actions-section__secondary-action">
          <span>{{ t('signUp.form.alreadyOnBasket') }}</span>
          <a routerLink="/sign-in">{{ t('signUp.form.signIn') }}</a>
        </div>
      </section>

    </form>

  </section>

</div>
