<div class="sign-up-page-layout" *transloco="let t">

  <form class="sign-up-page-layout__form" [formGroup]="form" (submit)="onClickSignUpWithEmailAndPassword()">

    <div class="form__title-container">

      <h1>{{ t('signUp.title') }}</h1>

    </div>

    <div class="my-form-item">
          <span class="p-float-label">
            <input type="text" pInputText pAutoFocus [autofocus]="true" [formControlName]="SignUpFormEnum.Email" />
            <label>{{ t('signUp.form.email.title') }}</label>
          </span>
      <small *ngIf="checkErrors(SignUpFormEnum.Email, ErrorEnum.Required)">{{ t('forms.mandatoryField') }}</small>
    </div>

    <div class="my-form-item">
          <span class="p-float-label">
            <input type="text" pInputText pAutoFocus [autofocus]="true" [formControlName]="SignUpFormEnum.Password" />
            <label>{{ t('signUp.form.password.title') }}</label>
          </span>
      <small *ngIf="checkErrors(SignUpFormEnum.Password, ErrorEnum.Required)">{{ t('forms.mandatoryField') }}</small>
    </div>

    <div class="form__actions-container">

      <p-button
        type="submit"
        class="my-block-button"
        [label]="t('buttons.createAnAccount')"
        severity="primary"
        [disabled]="isLoading">
      </p-button>

      <div class="actions-container__secondary-action">
        <span>{{ t('signUp.form.alreadyOnMyOwnLibrary') }}</span>
        <a routerLink="/sign-in">{{ t('signUp.form.signIn') }}</a>
      </div>

    </div>

  </form>

</div>
