<div class="dialog-layout confirmation-dialog-layout" *transloco="let t">

  <section class="dialog-layout__header">
    <h1>{{ t(titleKey) }}</h1>
  </section>

  <section class="dialog-layout__content">
    <span>{{ t(messageKey) }}</span>
  </section>

  <section class="dialog-layout__footer">

    <p-button
      [label]="t('buttons.reject')"
      severity="secondary"
      (onClick)="onClickReject()">
    </p-button>

    <p-button
      [label]="t('buttons.confirm')"
      severity="primary"
      (onClick)="onClickConfirm()">
    </p-button>

  </section>

</div>
