<form class="dialog-layout library-dialog-layout" [formGroup]="form" (submit)="onClickCreateLibrary()" *transloco="let t">

  <h2 mat-dialog-title>{{ t('dialogs.library.createLibrary') }}</h2>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>{{ t('dialogs.library.form.name.title') }}</mat-label>
      <input matInput [formControlName]="LibraryFormEnum.Name" [placeholder]="t('dialogs.library.form.name.placeholder')">
      <mat-error *ngIf="form.controls[LibraryFormEnum.Name].errors?.['required']">
        <span>{{ t('forms.mandatoryField') }}</span>
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="onClickCancel()">{{ t('buttons.cancel') }}</button>
    <button mat-button type="submit" color="accent" [disabled]="form.invalid">{{ t('buttons.createLibrary') }}</button>
  </div>

</form>
