<form class="dialog-layout library-dialog-layout" [formGroup]="form" *transloco="let t">

  <section class="dialog-layout__header">

    <h1>{{ t(titleKey) }}</h1>

    <div class="header__actions-container">

      <p-progressSpinner class="my-progress-spinner-sm" strokeWidth="4" *ngIf="isLoading"></p-progressSpinner>

    </div>

  </section>

  <section class="dialog-layout__content">

    <div class="my-form-item">
      <span class="p-float-label">
        <input type="text" pInputText pAutoFocus [autofocus]="true" [formControlName]="LibraryDialogFormEnum.Name" />
        <label>{{ t('dialogs.library.form.name.title') }}</label>
      </span>
      <small *ngIf="checkErrors(ErrorEnum.Required)">{{ t('forms.mandatoryField') }}</small>
    </div>

  </section>

  <section class="dialog-layout__footer">

    <p-button
      [label]="t('buttons.cancel')"
      severity="secondary"
      [disabled]="isLoading"
      (onClick)="onClickCancel()">
    </p-button>

    <p-button
      [label]="t('buttons.createLibrary')"
      severity="primary"
      [disabled]="form.invalid || isLoading"
      (onClick)="onClickCreateLibrary()"
      *ngIf="library === null">
    </p-button>

    <p-button
      [label]="t('buttons.modifyLibrary')"
      severity="primary"
      [disabled]="form.invalid || isLoading"
      (onClick)="onClickModifyLibrary()"
      *ngIf="library !== null">
    </p-button>

  </section>

</form>
