<ng-container *transloco="let t">

  <div class="navigation-bar-layout">

    <section class="navigation-bar-layout__left-action-section">
      <button mat-icon-button color="primary" (click)="onClickLeftActionButton()" *ngIf="leftActionIcon !== null">
        <mat-icon>{{ leftActionIcon }}</mat-icon>
      </button>
    </section>

    <section class="navigation-bar-layout__title-section">
      <h2>{{ title }}</h2>
    </section>

    <section class="navigation-bar-layout__right-action-section">
      <button mat-icon-button color="primary" (click)="onClickRightActionButton()" *ngIf="rightActionIcon !== null">
        <mat-icon>{{ rightActionIcon }}</mat-icon>
      </button>
    </section>

  </div>

</ng-container>
