<ng-container *transloco="let t">

  <div class="navigation-bar-layout">

    <section class="navigation-bar-layout__left-action-section">

<!--      <p-button-->
<!--        [icon]="leftActionIcon"-->
<!--        [rounded]="true"-->
<!--        [text]="true"-->
<!--        severity="secondary"-->
<!--        *ngIf="leftActionIcon !== undefined"-->
<!--        (onClick)="onClickLeftActionButton()">-->
<!--      </p-button>-->

    </section>

    <section class="navigation-bar-layout__title-section">
      <h2>{{ t('home.title') }}</h2>
    </section>

    <section class="navigation-bar-layout__right-action-section">

      <p-button
        icon="pi pi-cog"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="onClickOpenConfigurationDialog()">
      </p-button>

    </section>

  </div>

</ng-container>
