<ng-container *transloco="let t">

  <div class="navigation-bar-layout">

    <section class="navigation-bar-layout__left-action-section">
      <app-my-button myIconButton myFlatButton (click)="onClickLeftActionButton()" *ngIf="leftActionIcon !== null">
        <em class="my-own-library-icon">{{ leftActionIcon }}</em>
      </app-my-button>
    </section>

    <section class="navigation-bar-layout__title-section">
      <h2>{{ title }}</h2>
    </section>

    <section class="navigation-bar-layout__right-action-section">
      <app-my-button myIconButton myFlatButton (click)="onClickRightActionButton()" *ngIf="rightActionIcon !== null">
        <em class="my-own-library-icon">{{ rightActionIcon }}</em>
      </app-my-button>
    </section>

  </div>

</ng-container>
