button {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  position: relative;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--border-radius-small);
  padding: 0.5rem 1rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bolder);
  text-align: center;
  font-family: inherit;
  height: var(--default-item-height);
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  background: var(--color-primary);
  color: var(--text-color-light);
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: var(--color-primary-dark);
  }

  &:active {
    background: var(--color-primary-darker);
  }

  &.primary {
    background: var(--color-primary);

    &:hover {
      background: var(--color-primary-dark);
    }

    &:active {
      background: var(--color-primary-darker);
    }
  }

  &.secondary {
    background: var(--color-secondary);

    &:hover {
      background: var(--color-secondary-dark);
    }

    &:active {
      background: var(--color-secondary-darker);
    }
  }

  &.tertiary {
    background: var(--color-tertiary);

    &:hover {
      background: var(--color-tertiary-dark);
    }

    &:active {
      background: var(--color-tertiary-darker);
    }
  }

  &.success {
    background: var(--color-success);

    &:hover {
      background: var(--color-success-dark);
    }

    &:active {
      background: var(--color-success-darker);
    }
  }

  &.warning {
    background: var(--color-warning);

    &:hover {
      background: var(--color-warning-dark);
    }

    &:active {
      background: var(--color-warning-darker);
    }
  }

  &.danger {
    background: var(--color-danger);

    &:hover {
      background: var(--color-danger-dark);
    }

    &:active {
      background: var(--color-danger-darker);
    }
  }
}

button:has(em) {
  padding: 0.5rem 0;
  width: 36px;
}

button:disabled {
  background: var(--color-secondary-light) !important;
  cursor: not-allowed !important;
}

button.icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: var(--default-item-height);
  width: var(--default-item-height);
  max-width: var(--default-item-height);
  min-height: var(--default-item-height);
  height: var(--default-item-height);
  max-height: var(--default-item-height);
  border-radius: var(--default-item-height);
  padding: 0;
  background: transparent;
  color: var(--text-color);
  opacity: 100%;
  transition:
    background 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    transform 0.1s ease-in-out,
    opacity 0.2s ease-in-out;

  &:hover {
    background: var(--color-secondary-light-shade);
  }

  &:active {
    background: var(--color-secondary-dark-shade);
  }

  &.primary {
    color: var(--color-primary);

    &:hover {
      background: var(--color-primary-light-shade);
    }

    &:active {
      background: var(--color-primary-dark-shade);
    }
  }

  &.secondary {
    color: var(--color-secondary);

    &:hover {
      background: var(--color-secondary-light-shade);
    }

    &:active {
      background: var(--color-secondary-dark-shade);
    }
  }

  &.tertiary {
    color: var(--color-tertiary);

    &:hover {
      background: var(--color-tertiary-light-shade);
    }

    &:active {
      background: var(--color-tertiary-dark-shade);
    }
  }

  &.success {
    color: var(--color-success);

    &:hover {
      background: var(--color-success-lighter);
    }

    &:active {
      background: var(--color-success-light);
    }
  }

  &.warning {
    color: var(--color-warning);

    &:hover {
      background: var(--color-warning-lighter);
    }

    &:active {
      background: var(--color-warning-light);
    }
  }

  &.danger {
    color: var(--color-danger);

    &:hover {
      background: var(--color-danger-lighter);
    }

    &:active {
      background: var(--color-danger-light);
    }
  }

  em {
    user-select: none;
  }
}

button.icon-button:disabled {
  background: transparent !important;
  cursor: not-allowed !important;
  opacity: 50%;
}

button {

  &.icon-action-button {
    min-width: var(--default-item-width);
    width: var(--default-item-width);
    max-width: var(--default-item-width);
    min-height: var(--default-item-height);
    height: var(--default-item-height);
    max-height: var(--default-item-height);
    border-radius: var(--border-radius-medium);
    background: var(--color-primary-light-shade);
    box-shadow: var(--shadow-m);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    font-size: var(--font-size-medium);

    &:hover {
      background: var(--color-primary-dark-shade);
    }

    &:active {
      background: var(--color-primary-darker-shade);
      box-shadow: var(--shadow-s);
    }
  }
}
