p-button button:not(.p-button-icon-only) {
  border-radius: var(--my-border-radius-sm);
}

p-button.my-fab-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

p-button.my-block-button {
  flex: 1;

  button {
    width: 100%
  }
}

p-selectbutton {

  .p-buttonset .p-button:first-of-type {
    border-top-left-radius: var(--my-border-radius-sm);
    border-bottom-left-radius: var(--my-border-radius-sm);
  }

  .p-buttonset .p-button:last-of-type {
    border-top-right-radius: var(--my-border-radius-sm);
    border-bottom-right-radius: var(--my-border-radius-sm);
  }
}

p-selectbutton.my-block-select-button div.p-selectbutton.p-buttonset {
  display: flex;
  flex-direction: row;

  div.p-element {
    flex: 1;
  }
}
