form.form-layout {

}

div.my-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
  }

  small {
    color: var(--danger-color);
    padding-left: 0.5rem;
  }
}
