input {
  box-sizing: border-box;
  margin: 0;
  border: 2px solid var(--color-secondary-light);
  border-radius: var(--border-radius-small);
  padding: 6px 12px;
  box-shadow: none;
  line-height: inherit;
  transition: border 0.2s ease-in-out;
  color: inherit;
  height: var(--default-item-height);
  font-family: var(--font-family);
  font-size: var(--font-size);
  outline: none !important;
  background: var(--background-color-low);

  &:hover {
    border-color: var(--color-secondary);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

input[type='date'] {
  cursor: pointer;
}
