@import 'src/styles/mixins';

div.custom-layout {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color-high);
  height: 100%;
  width: 100%;
  padding: 2rem;
  gap: 1rem;

  h2 {
    margin: 0;
  }
}

form.form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  section.form-layout__header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    h1 {
      margin: unset;
    }
  }

  section.form-layout__items-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;

    div.items-section__form-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      span.form-item__title {
        font-weight: var(--font-weight-bolder);
      }
    }
  }

  section.form-layout__actions-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

    button {
      width: 100%;
    }

    div.actions-section__secondary-action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;

      a {
        color: var(--color-primary);
        font-style: unset;
        text-decoration: unset;
      }
    }
  }
}
