:root {
  --danger-color: #EF4444;

  --my-border-radius-sm: 10px;
  --my-border-radius-md: 20px;
  --my-border-radius-lg: 30px;

  --my-shadow-xs: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --my-shadow-sm: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --my-shadow-md: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --my-shadow-lg: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --my-shadow-xl: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  --my-background-color-high-light: var(--color-slate-50);
  --my-background-color-medium-light: var(--color-slate-50);
  --my-background-color-low-light: var(--color-slate-100);

  --my-background-color-high-dark: var(--color-slate-900);
  --my-background-color-medium-dark: var(--color-slate-800);
  --my-background-color-low-dark: var(--color-slate-700);
}
