div.game-layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: var(--my-border-radius-sm);
  min-height: 200px;
  height: 200px;
  max-height: 200px;
  background-color: var(--my-background-color-low);
  box-shadow: var(--my-shadow-sm);
  cursor: pointer;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: var(--my-shadow-md);
  }

  &.hide-info {
    max-width: 150px;
  }

  section.game-layout__cover-section {
    min-width: 150px;
    width: 150px;
    min-height: 200px;
    height: 200px;
    border-radius: var(--my-border-radius-sm);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  section.game-layout__info-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    padding: 1rem;
    overflow: hidden;

    div.info-section__additional-info-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    div.info-section__description-container {
      flex: 1;

      span {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    div.info-section__actions-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
