<div class="sign-in-page-layout" *transloco="let t">

  <section class="sign-in-page-layout__form-section">

    <form class="form-layout" [formGroup]="signInForm" (submit)="onClickSignInWithEmailAndPassword()">

      <section class="form-layout__header-section">
        <h1>{{ t('signIn.title') }}</h1>
      </section>

      <section class="form-layout__items-section">
        <div class="items-section__form-item">
          <span class="form-item__title">{{ t('signIn.form.email.title') }}</span>
          <input type="email" [formControlName]="SignInFormEnum.Email" [placeholder]="t('signIn.form.email.placeholder')">
        </div>
        <div class="items-section__form-item">
          <span class="form-item__title">{{ t('signIn.form.password.title') }}</span>
          <input type="password" [formControlName]="SignInFormEnum.Password" [placeholder]="t('signIn.form.password.placeholder')">
        </div>
      </section>

      <section class="form-layout__actions-section">
        <button type="submit" [disabled]="signInForm.invalid">
          <span *ngIf="!isSigningIn">{{ t('buttons.signIn') }}</span>
          <app-loader [type]="LoaderTypeEnum.Ellipsis" *ngIf="isSigningIn"></app-loader>
        </button>
        <div class="actions-section__secondary-action">
          <span>{{ t('signIn.form.newOnMyOwnLibrary') }}</span>
          <a routerLink="/sign-up">{{ t('signIn.form.createAnAccount') }}</a>
        </div>
      </section>

    </form>

  </section>

</div>
