<div class="sign-in-page-layout" *transloco="let t">

  <form class="sign-in-page-layout__form" [formGroup]="form" (submit)="onClickSignInWithEmailAndPassword()">

    <div class="form__title-container">

      <h1>{{ t('signIn.title') }}</h1>

    </div>

    <div class="my-form-item">
          <span class="p-float-label">
            <input type="text" pInputText pAutoFocus [autofocus]="true" [formControlName]="SignInFormEnum.Email" />
            <label>{{ t('signIn.form.email.title') }}</label>
          </span>
      <small *ngIf="checkErrors(SignInFormEnum.Email, ErrorEnum.Required)">{{ t('forms.mandatoryField') }}</small>
    </div>

    <div class="my-form-item">
          <span class="p-float-label">
            <input type="text" pInputText pAutoFocus [autofocus]="true" [formControlName]="SignInFormEnum.Password" />
            <label>{{ t('signIn.form.password.title') }}</label>
          </span>
      <small *ngIf="checkErrors(SignInFormEnum.Password, ErrorEnum.Required)">{{ t('forms.mandatoryField') }}</small>
    </div>

    <div class="form__actions-container">

      <p-button
        type="submit"
        class="my-block-button"
        [label]="t('buttons.signIn')"
        severity="primary"
        [disabled]="isLoading">
      </p-button>

      <div class="actions-container__secondary-action">
        <span>{{ t('signIn.form.newOnMyOwnLibrary') }}</span>
        <a routerLink="/sign-up">{{ t('signIn.form.createAnAccount') }}</a>
      </div>

    </div>

  </form>

</div>
