button {
  --my-button-font-color: var(--text-color-light);
  --my-button-background: var(--color-primary);
  --my-button-background-hover: var(--color-primary-dark);
  --my-button-background-active: var(--color-primary-darker);
  position: relative;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  border-radius: var(--border-radius-small);
  padding: 0.5rem 1rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bolder);
  text-align: center;
  font-family: inherit;
  height: var(--default-item-height);
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  background: var(--my-button-background);
  color: var(--my-button-font-color);
  box-shadow: var(--shadow-s);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background: var(--my-button-background-hover);
  }

  &:active {
    background: var(--my-button-background-active);
    box-shadow: var(--shadow-xs);
  }

  &.primary {
    --my-button-background: var(--color-primary);
    --my-button-background-hover: var(--color-primary-dark);
    --my-button-background-active: var(--color-primary-darker);
  }

  &.secondary {
    --my-button-background: var(--color-secondary);
    --my-button-background-hover: var(--color-secondary-dark);
    --my-button-background-active: var(--color-secondary-darker);
  }

  &.tertiary {
    --my-button-background: var(--color-tertiary);
    --my-button-background-hover: var(--color-tertiary-dark);
    --my-button-background-active: var(--color-tertiary-darker);
  }

  &.info {
    --my-button-background: var(--color-info);
    --my-button-background-hover: var(--color-info-dark);
    --my-button-background-active: var(--color-info-darker);
  }

  &.success {
    --my-button-background: var(--color-success);
    --my-button-background-hover: var(--color-success-dark);
    --my-button-background-active: var(--color-success-darker);
  }

  &.warning {
    --my-button-background: var(--color-warning);
    --my-button-background-hover: var(--color-warning-dark);
    --my-button-background-active: var(--color-warning-darker);
  }

  &.danger {
    --my-button-background: var(--color-danger);
    --my-button-background-hover: var(--color-danger-dark);
    --my-button-background-active: var(--color-danger-darker);
  }
}

button.my-icon-button {
  padding: 0.5rem;
}

button.my-flat-button {
  box-shadow: unset !important;

  &.primary {
    --my-button-font-color: var(--color-primary);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-primary-lighter-shade);
    --my-button-background-active: var(--color-primary-light-shade);
  }

  &.secondary {
    --my-button-font-color: var(--color-secondary);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-secondary-lighter);
    --my-button-background-active: var(--color-secondary-light);
  }

  &.tertiary {
    --my-button-font-color: var(--color-tertiary);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-tertiary-lighter);
    --my-button-background-active: var(--color-tertiary-light);
  }

  &.info {
    --my-button-font-color: var(--color-info);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-info-lighter);
    --my-button-background-active: var(--color-info-light);
  }

  &.success {
    --my-button-font-color: var(--color-success);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-success-lighter);
    --my-button-background-active: var(--color-success-light);
  }

  &.warning {
    --my-button-font-color: var(--color-warning);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-warning-lighter);
    --my-button-background-active: var(--color-warning-light);
  }

  &.danger {
    --my-button-font-color: var(--color-danger);
    --my-button-background: transparent;
    --my-button-background-hover: var(--color-danger-lighter);
    --my-button-background-active: var(--color-danger-light);
  }
}
