<div class="page-layout home-page-layout" *transloco="let t">

  <app-navigation-bar
    [title]="t('home.title')"
    rightActionIcon="pi pi-cog"
    (rightActionEvent)="onClickShowConfigurationOptions()">
  </app-navigation-bar>

  <section class="page-layout__content home-page-layout__content">

    <app-library [library]="library" *ngFor="let library of libraries">{{ library.name }}</app-library>

    <p-button class="my-fab-button" icon="pi pi-plus" [rounded]="true" (onClick)="onClickAddLibrary()"></p-button>

  </section>

</div>
